.wrap{
	width: 980px;margin: 0 auto;
}
.title{
	margin-top: 28px;border-bottom: #7A7F89 solid 1px;padding-bottom: 15px;
}
.title h1 span{
	float: right;font-weight: normal;	
}
.title h1 span:last-child{
	margin-right: 45px;	
}
.title h1 span a{
	color: #A10000;	
}
.state .p1{
	width: 540px;height: 28px;background: url(../img/bg/cartstate.png) no-repeat;margin-top: 10px;line-height: 28px;
}
.state .p1 span:first-child{
	margin-left: 47px;	color: #FFFFFF;
}
.state .p1 span{
	margin-left: 85px;	
}
.state .p2{
	margin-top: 11px;
}
.state .p2 .sp1{
	font-size: 18px;	
}
.state .p2 .sp2{
	font-size: 14px;	
}
.state .p2 .sp2 a{
	color: #A10000;	font-size: 14px;
}
.stateDetail h1{
	height: 37px;width: 978px;border: #DCDFE4 solid 1px;background: url(../img/bg/cartstate3.png);margin-top: 11px;line-height: 37px;
}
.stateDetail h1 .list1 li{
	float: left;margin-left: 51px;font-weight: normal;	
}
.stateDetail h1 .list1 li:first-child{
	margin-left: 253px;margin-right: 140px;	
}


 * {
  box-sizing: border-box;
}

.input-number {
  width: 40px;
  padding: 0 12px;
  vertical-align: top;
  text-align: center;
  outline: none;
}

.input-number,
.input-number-decrement,
.input-number-increment {
  border: 1px solid #cccccc;
  height: 22px;
  user-select: none;
}

.input-number-decrement,
.input-number-increment {
  display: inline-block;
  width: 15px;
  line-height: 22px;
  background: #f1f1f1;
  color: #444444;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  vertical-align: top;
}
.input-number-decrement:active,
.input-number-increment:active {
  background: #dddddd;
}

.input-number-decrement {
  border-right: none;
  border-radius: 0px 0 0 0px;
}

.input-number-increment {
  border-left: none;
  border-radius: 0 0px 0px 0;
}
.stateDetail .list2 li{
	float: left;text-align: center;margin-left: 23px;
}
.stateDetail .list2 li img{
	border: #C8C8C8 solid 1px;margin-right: 5px;	
}
.stateDetail .list2{
	height: 96px;line-height: 50px;padding-top: 20px;border: #DCDFE4 solid 1px;border-top: none;width: 978px;	
}
.stateDetail .list2 li:first-child{
	margin-left: 28px;margin-right:118px;	
}
.stateDetail .list2 li:last-child{
	margin-left: 35px;	
}
.stateDetail .list2 .ts{
	line-height: 20px;	
}
.stateDetail .list2 .ts2{
	padding-top: 15px;	
}
.stateDetail .list2 li:last-child a{
	color: #999999;	
}
.action{
	height: 72px;width: 978px;border: #EBE5BB solid 1px;margin-top: 11px;line-height: 72px;background: #FFFEF5;
}
.action .info .item01{
	float: left;margin-left: 55px;
}
.action .info .item01 span a{
	color: #A10000;	
}
.action .info .item01 .sp4{
	margin-left: 25px;	
}
.action .info .item01 .sp4 a{
	font-size: 20px;font-weight: normal;	
}
.action .info .item02{
	float: right;margin-right: 10px;	
}
.action .info .item02 a:first-child{
	width: 120px;height: 35px;border: #DDDDDD solid 1px;background: url(../img/bg/cartstate5.png);border-radius: 5px;float: left;line-height: 35px;text-align: center;color: #666666;font-size: 14px;margin-top: 18px;	
}
.action .info .item02 a:last-child{
	float: left;width: 158px;height: 48px;line-height: 48px;text-align: center;border: #820202 solid 1px;background: #C00B0B url(../img/bg/cartstate6.png) 20px 15px no-repeat;margin-top: 12px;border-radius: 5px;margin-left: 16px;color: #FFFFFF;font-size: 18px;	
}