.map{
	height:26px;border-bottom:#CCCCCC solid 1px;background: #FFF;color: #AAAAAA;line-height: 26px;font-size: 14px;
}
.map a{
	color: #333333;font-size: 14px;
}
.map a:hover{
	color: #000000;
}
.map a:last-child{
	color: #999999;
}
.detailPic ul li a img{
	width: 68px;height: 68px;border: #B4B4B4 solid 1px;
}
.detailPic ul li a img:hover,.select{
	border: #A10000 solid 1px;
}
.detailPic ul li{
	margin-bottom: 11px;
}
.detailPic ul li:first-child a img,.detailPic ul li:last-child a img{
	width: 9px;height: 5px;border: none;margin: 0 auto;
}
.detailPic ul li{
	width: 68px;display: block;text-align: center;
}
.detailPic ul{
	margin-top: 25px; float: left;
}
.detailList p{
	margin-top: 15px;font-size: 14px;padding-left: 90px;
}
.detailList .simg{
	margin-left: 5px
}
.detailList p span{
	float: right;font-size: 12px;color: #999999;margin-right: 15px;
}
.detailList .swich .li h1{
	color: #A10000;width: 670px;font-weight: normal;
}
.detailList .swich li{
	width: 660px;text-align: left;margin: 0px;padding-left: 10px;
}
.detailList .swich{
	width: 670px;float: right;
}
.detailList .swich .li h1 span{
	font-size: 18px;
}
.detailList .swich .li h1 a{
	color: #A10000;margin-left: 10px;background: url(../img/bg/detail01.png) no-repeat right center;width: 70px;display: inline-block;
}
.detailList .swich .li1 p{
	color: #999999;margin: 0px;padding: 0px;font-size: 12px;
}
.detailList .swich .li1 p span{
	color: #999999;margin: 0px;padding: 0px;float: none;text-decoration: line-through;font-size: 12px;
}
.detailList .swich .li2{
	height:50px;background: #F5F5F5;padding-top: 10px;padding-left: 10px;width: 660px;
}
.detailList .swich .li2 p,.detailList .swich .li2 p a{
	color: #666666;font-size: 12px;margin: 0;padding: 0;
}
.detailList .swich .li2 p a{
	width: 97px;height: 42px;border:#B4B4B4 solid 1px;display: inline-block;margin-right: 8px;background: none;
}
.detailList .swich .li2 p a img{
	width: 31px;height: 34px;border: none;margin-top: 3px;margin-left: 5px;
}
.detailList .swich .li2 p a span{
	color: #666666;font-size: 12px;margin: 0;padding: 0;text-align: left;margin-top: 7px;
}
.detailList .swich .li2 p .selected{
	background: url(../img/bg/detailBgSelect.png) bottom right no-repeat;border: #A10000 solid 2px;width: 96px;height: 40px;
}
.detailList .swich .li3 p,.detailList .swich .li3 p a{
	color:#666666;margin: 0;padding: 0;font-size: 12px;
}
.detailList .swich .li3 p a{
	width: 26px;height: 24px;border: #C8C8C8 solid 1px;display: inline-block;margin-right: 5px;text-align: center;line-height: 24px;background: none;
}
.detailList .swich .li3 p .checked{
	width: 24px;height: 22px;border: #A10000 solid 2px;background: url(../img/bg/detailBgSelect.png) no-repeat bottom right;
}
.detailList .swich .li3{
	padding-top: 8px;padding-left: 10px;width: 660px;
}
.detailList .swich .li4,.detailList .swich .li4 p{
	margin: 0;padding: 0;color: #666666;font-size: 12px;padding-left: 5px;
}
.detailList .swich .li4{
	padding-top: 15px;
}
.detailList .swich .li5 a{
	width: 198px;height: 48px;border: #820202 solid 1px;background: #C00B0B url(../img/bg/detailBg4.png) no-repeat 30px center;display: block;border-radius: 5px;font-size: 16px;color: #FFFFFF;font-weight: bold;text-align: center;line-height: 48px;
}
.detailList .swich .li5{
	padding-top: 15px;
}
.detailList .swich .li6 span{
	color: #A20000;position: absolute;left: 45%;top: 0;background: #FFFFFF;width: 68px;height: 15px;display: block;z-index: 3;text-align: center;
}
.detailList .swich .li6{
	position: relative;margin-top: 28px;
}
.detailList .swich .li6 a{
	width: 660px;height: 40px;border-top: #A20000 solid 1px;border-bottom: #A20000 solid 1px;display: block;position: absolute;top: 10px;line-height: 40px;color: #333333;
}
.detailPic p{
	padding-left: 400px;
}
.detailPic p a{
	width: 65px;height: 15px;color: #333333;text-align: right;display: inline-block;margin-right: 5px;
}
.detailPic p a:first-child{
	background: url(../img/bg/detailBg5.png) no-repeat left center;
}
.detailPic p a:last-child{
	background: url(../img/bg/detailBg6.png) no-repeat left center;
}
.infoBox .picItem{
	width: 198px;height: 839px;border: #D6D6D6 solid 1px;float: left;
}
.infoBox .picItem h1{
	background: url(../img/bg/detailBg7.png);height: 27px;border-bottom: #D6D6D6 solid 1px;text-align: center;line-height: 27px;
}
.infoBox .picItem ul li{
	text-align: center;margin-top: 25px;
}
.infoBox .picItem ul li a p{
	text-align: left;margin-left: 30px;color: #333333;
}
.infoBox .picItem ul li a h2{
	background: none;font-weight: normal;color: #999999;
}
.infoBox .picItem ul li a h2 span{
	color: #A10000;margin-left: 7px;font-weight: bold;
}
.infoBox .infoItem{
	width: 978px;display: inline-block;margin-left: 15px;
}
.infoBox .infoItem .top h1{
	height: 32px;background: url(../img/bg/detailBg12.png);border-bottom: #8B0121 solid 2px;line-height: 32px;color: #FFFFFF;font-size: 14px;text-indent: 3em;
}
.infoBox .infoItem .top h1 span{
	width: 828px;height: 30px;border: #D6D6D6 solid 1px;border-bottom: #FFFFFF solid 1px;float: right;background: #F7F7F7;text-align: right;line-height: 30px;color: #333333;
}
.infoBox .infoItem .top h1 span select{
	margin-left: 5px;margin-right: 25px;display: inline-block;
}
.infoBox .infoItem .top h1 span a{
	width: 105px;height: 24px;background: #B80808 url(../img/bg/detailBg4.png) no-repeat 5px center;border-radius: 5px;display: inline-block;margin-top: 3px;padding: 0;font-size: 12px;color: #FFFFFF;line-height: 24px;text-align: center;text-indent: 1.5em;margin-right: 10px;
}
.infoItem p{
	border: #D8D8D8 solid 1px;border-top: none;background: #F4F4F4 url(../img/bg/detail13.png) no-repeat top center;height: 55px;
}
.infoItem p a{
	color: #333333;font-size: 15px;margin-top: 33px;display: inline-block;margin-left: 47px;
}
.infoItem h2{
	color: #999999;font-size: 15px;border-bottom: #999999 dashed 1px;height: 66px;padding-top: 23px;
}
.infoItem h2 strong{
	display: block;font-size: 12px;color: #666666;font-weight: normal;margin-left: 20px;margin-top: 15px;
}
.infoItem .listInfo{
	height: 115px;
}
.infoItem .listInfo h1{
	color: #999999;text-align: left;font-size: 15px;margin-top: 20px;height: 20px;
}
.infoItem .listInfo .bbox{
	height: 67px;background: #F9F9F9;padding-top: 13px;
}
.infoItem .listInfo .bbox .list{
	float: left;width: 230px;height: 55px;border-right: #FFFFFF solid 1px;margin-left: 12px;
}
.infoItem .listInfo .bbox .list li span{
	color: #A10000;font-size: 14px;
}
.infoItem .listInfo .bbox .list li span:last-child{
	color: #333333;
}
.infoItem .bbbox{
	margin-top: 20px;
}
.infoItem .bbbox h4{
	color: #999999;
}
.infoItem .bbbox h3 span{
	color: #999999;margin-bottom: 20px;
}
.infoItem .bbbox h3 span em{
	font-style: normal;color: #333333;
}
.infoItem .bbbox p{
	background: none;height: auto;border: none;font-size: 14px;
}
.infoItem .bbbBox p{
	color: #FFFFFF;background: url(../img/bg/bbbBox.png);border:#D6D6D6 solid 1px;border-bottom: #6E0019 solid 1px;border-left:none; height: 28px
}
.infoItem .bbbBox p span{
	color: #FFFFFF;background: url(../img/bg/bbbBox2.png);float: left;width: 119px;height: 28px;border-left: #6E0019 solid 1px;text-align: center;line-height: 28px
}
.infoItem .bbbBox .miniBox{
	border: #CACACA solid 1px;margin-top: 10px
}
.infoItem .bbbBox .miniBox h1{
	border-bottom: #CACACA solid 1px;height: 26px;background: url(../img/bg/bbbBox.png);color: #A10000;line-height: 26px
}
.infoItem .bbbBox .miniBox h1 span:first-child{
	background:url(../img/bg/bbbBox3.png) no-repeat 10px center;height:26px;float:left;line-height:26px;text-indent:2.5em;color:#333333;
}
.infoItem .bbbBox .miniBox h1 span:last-child{
	background:none;color:#333333;
}
.infoItem .bbbBox .miniBox ul{
	display:block;height: 120px;
}
.infoItem .bbbBox .miniBox ul li:first-child{
	float:left;width:158px;height:78px;border-right:#CFCFCF solid 1px;margin-top: 6px;text-align: center;padding-top: 30px
}
.infoItem .bbbBox .miniBox ul li:first-child h2{
	color:#A10000;border: none;height: auto;margin: 0;padding: 0
}
.infoItem .bbbBox .miniBox ul li:first-child p{
	color:#A10000;font-size:26px;height: auto;background: none;border: none;height: auto;margin: 0;padding: 0
}
.infoItem .bbbBox .miniBox ul li{
	width: 602px;height: 108px;float: left;border-right:#CFCFCF solid 1px;margin-top: 6px;text-align: center;
}
.infoItem .bbbBox .miniBox ul li h3{
	margin-top:15px;text-align: center;padding: 0;float: left;margin-left: 194px;font-weight: normal;
}
.infoItem .bbbBox .miniBox ul li h3 span{
	width: 143px;height: 10px;background: #EFEFF1;display: block;margin: 0;padding: 0;float: left;border: #C9C9C9 solid 1px;margin-left: 5px;margin-right: 5px
}
.infoItem .bbbBox .miniBox ul li h3:first-child span{
	background: url(../img/bg/bbbBox4.png);
}
.infoItem .bbbBox .miniBox ul li h3 em{
	color: #333333;float: left; margin-left: 5px;font-style: normal;
}
.infoItem .bbbBox .miniBox ul li:last-child{
	width: 213px;height: 108px;margin-top: 6px;float: left;border-right: none;text-align: center;padding-top: 30px
}
.infoItem .bbbBox .miniBox ul li:last-child strong{
	display: block;
}
.infoItem .bbbBox .miniBox ul li:last-child a{
	width: 95px;height: 25px;border: #A90808 solid 1px;background: url(../img/bg/bbbBox5.png);display: block;margin: 0 auto;border-radius: 5px;line-height: 25px;color: #FFFFFF;margin-top: 10px;
}
.infoItem .aBox{
	margin-bottom: 10px;display: block;
}
.infoItem .aBox p{
	height: 25px;border:none;border-bottom: #840120 solid 2px;background: none;display: block;margin-top: 20px;margin-bottom: 10px
}
.infoItem .aBox p:first-child span{
	color:#FFFFFF;background: url(../img/bg/aBox3.png);height: 24px;display:block;width: 115px;border: #690001 solid 1px;border-bottom: none;border-radius: 5px 5px 0 0;line-height: 24px;text-align: center;
}
.infoItem .aBox ul{
	display: block;
}
.infoItem .aBox ul li{
	border: #E2E2E2 solid 1px;
}
.infoItem .aBox ul li .img1{
	float: left;border-right: #D5D5D5 dashed 1px;
}
.infoItem .aBox ul li h1{
	float: left;width: 800px;height: 37px;padding-top: 15px;padding-left: 13px;
}
.infoItem .aBox ul li p{
	padding-left: 13px;width: 800px;float: left;border: none;margin: 0
}
.infoItem .aBox ul li p span{
	color: #A10000
}
.infoItem .aBox ul li:last-child strong{
	color: #999999;text-align: right;float: left;margin-top: 79px;font-weight: normal;margin-left: 600px
}
.infoItem .aBox .hf{
	width: 100%;color: #333333;background: none;height: auto;border: none;margin: 0;text-align: right;font-size: 14px;
}
.infoItem .aBox .hf a{
	color: #333333;font-size: 14px;margin-left: 5px
}