.box{
	margin-top: 5px
}
.box .miniBox{
	width: 180px;float: left;
}
.box .miniBox .all{
	float: left;width: 180px;
}
.box .miniBox .all li{
	width: 180px;height: 55px;margin-top: 5px;text-align: center;display: block;
}
.box .miniBox .all li:first-child{
	text-align: center;background: #A41413;color: #FFFFFF;display: block;width: 180px;height: 35px;line-height: 35px;font-size: 18px;font-weight: bold;
}
.box .miniBox .all li:last-child{
	width: 180px;height: 45px;
}
.box .miniBox2{
	width: 1018px;display: inline-block;position: relative;
}
.box .miniBox2 .mininBox{
	width: 980px;height: 126px;margin-left: 38px;position: relative;margin-top: 5px
}
.box .miniBox2 .mininBox .swich{
	width:980px;height:120px;display:block;overflow:hidden;
}
.box .miniBox2 .mininBox .swich li{
	width: 980px;height: 120px;display: block;
}
.box .miniBox2 .mininBox .button li{
	float: left;
}
.box .miniBox2 .mininBox .button li a{
	float: left;margin-right: 8px;width: 15px;height: 18px;background: #9E9D9D;color: #FFFFFF;border:#CECECE solid 1px;right: 8px;bottom: 15px;text-align: center;line-height: 18px
}
.box .miniBox2 .mininBox .button{
	float: right;position: absolute;right: 5px;bottom: 15px;
}
.box .miniBox2 .mininBox .button .select a{
	background: #7F0019
}
.box .miniBox2 .Detail{
	width: 706px;border: #838383 solid 1px;float: left;margin-top: 10px;margin-left: 39px;padding-left: 10px;padding-bottom: 10px;
}
.box .miniBox2 .Detail p{
	color: #D50001;font-size: 16px;margin-top: 20px;margin-bottom: 18px;
}
.box .miniBox2 .Detail h2{
	border: #E4E4E4 solid 1px;width: 400px;float: left;
}
.box .miniBox2 .hot{
	float: left;border: #838383 solid 1px;width: 246px;margin-top: 10px;margin-left: 10px;position: absolute;top: 131px;right: 0;
}
.box .miniBox2 .Detail h1{
	float: left;width: 298px;height: 68px;background: #F7F7F7;line-height: 68px;font-size: 16px;color: #D60002;text-indent: 1em;
}
.box .miniBox2 .Detail h1 span{
	color: #A5A5A5;font-size: 12px;text-decoration: line-through;margin-left: 15px;font-weight: normal;
}
.box .miniBox2 .Detail .lei{
	width: 260px;height: 274px;float: left;padding-left: 19px;padding-right: 19px;
}
.box .miniBox2 .Detail .lei .title,.box .miniBox2 .Detail .lei .title2{
	width: 268px;height: 15px;	color: #333333;font-size: 14px;display: block;
}
.box .miniBox2 .Detail .lei ul li{
	display:inline-block;border: #B4B4B4 solid 1px;margin-right: 5px;
}
.box .miniBox2 .Detail .lei ul li:last-child{
	margin-right: 0px;
}
.box .miniBox2 .Detail .lei .cm li{
	border: none;
}
.box .miniBox2 .Detail .lei .cm li a{
	width: 32px;height: 28px;border: #C8C8C8 solid 1px;display: block;line-height: 28px;text-align: center;color: #333333;
}
.box .miniBox2 .Detail .lei h3{
	margin-top: 19px;	
}
.box .miniBox2 .Detail .lei h4 a{
	float: right;width: 110px;	height: 36px;border: #B71220 solid 1px;background: url(../img/bg/detail-buying2.png) no-repeat;border-radius: 5px;color: #FCECEF;line-height: 36px;text-align: center;font-size: 14px;
}
.box .miniBox2 .hot li{
	height: 197px;display: block;border-bottom: #808080 solid 1px;	
}
.box .miniBox2 .hot li:first-child{
	height: 34px;color: #FFFFFF;text-align: center;line-height: 34px;font-size: 14px;background: #AA0001;	
}
.box .miniBox2 .hot li:last-child{
	border-bottom: none;	
}
.box .miniBox2 .hot li a img,.box .miniBox2 .hot li a p,.box .miniBox2 .hot li a h1{
	float: left;
}
.box .miniBox2 .hot li a h1{
	height: 32px;padding-top: 20px;text-align: center;color: #000000;font-weight: normal;padding-left: 15px;
}
.box .miniBox2 .hot li a img{
	margin-left: 13px;
}
.box .miniBox2 .hot li a .one{
	color: #FFFFFF;	background: url(../img/bg/detail-buying4.png) no-repeat;width: 80px;height: 37px;display: block;padding-left: 7px;line-height: 37px;font-size: 14px;
}
.box .miniBox2 .hot li a .two{
	color: #000000;font-weight: normal;text-decoration: line-through;font-size: 14px;padding-left: 9px;	
}
.box .miniBox2 .miniBox3{
	width: 706px;border: #838383 solid 1px;margin-top: 10px;margin-left: 39px;padding-left: 10px;padding-bottom: 20px;float: left;
}
.box .miniBox2 .miniBox3 h1{
	color: #D50001;	font-size: 16px;margin-top: 5px;
}
.box .miniBox2 .miniBox3 p{
	text-align: center;font-size: 14px;font-weight: bold;line-height: 35px;display: block;margin-bottom: 15px;
}
.box .miniBox2 .miniBox3 img{
	margin-left: 10px;	
}
.box .miniBox2 .miniBox3 .pic2{
	margin-top: 22px;	
}