/* CSS Document */

.navList {
	height: 55px;
	border-top: #F93434 solid 3px;
	background: #E2E2E2;
	margin-top: 10px
}

.navList ul {
	display: block;
	height: 33px;
	margin-top: 11px
}

.navList ul li {
	width: 110px;
	display: inline-block;
	height: 33px;
	text-align: center;
	border-left: #C7C6C7 solid 1px
}

.navList ul li:first-child {
	width: 165px;
	border: none
}

.navList ul li:first-child a {
	color: #FF3131;
	font-size: 25px;
	font-weight: bold
}

.navList ul li a {
	height: 33px;
	line-height: 33px;
	color: #111111;
	text-align: center;
	display: block
}

.navList ul li a:hover {
	color: #999
}

.Box {
	position: relative;
	margin-top: 10px;
	width: 200px;
	float: left
}

.search {
	width: 196px;
	height: 94px;
	background: #FFF;
	border: #DDDDDD solid 1px;
	text-align: center;
	padding: 1px
}

.search h1 {
	width: 181px;
	height: 40px;
	background: #EFEFEF;
	border-bottom: #666666 solid 1px;
	text-align: left;
	line-height: 40px;
	padding-left: 15px;
	font-size: 14px
}

.search h1 a {
	float: right;
	color: #333333;
	font-size: 12px;
	margin-right: 13px;
	background: url(../img/search.png) no-repeat 0px center;
	text-indent: 1.5em
}

.search form .text {
	width: 124px;
	height: 19px;
	border: #DDDDDD solid 1px
}

.search form {
	margin-top: 15px
}

.search form .up {
	width: 36px;
	height: 18px;
	background: #A10000;
	border: #800000 solid 1px;
	color: #FFF
}

.ph {
	width: 196px;
	height: 554px;
	padding: 1px;
	border: #DCDCDC solid 1px;
	margin-top: 15px
}

.ph h1 {
	width: 196px;
	height: 49px;
	background: #EFEFEF;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	line-height: 49px
}

.ph ul li {
	width: 178px;
	height: 100px;
	display: block;
	border-bottom: #C9C9C9 dashed 1px;
	margin: 0 auto
}

.ph ul li:last-child {
	border: none
}

.ph ul li a img {
	float: left;
	border: #E9E9E9 solid 1px;
	margin-top: 6px;
	margin-right: 12px
}

.ph ul li a h1 {
	width: 18px;
	height: 18px;
	background: #A10000;
	color: #FFF;
	font-size: 14px;
	float: left;
	line-height: 18px;
	margin-top: 6px
}

.ph ul li a p {
	width: 80px;
	height: 35px;
	float: left;
	margin-top: 7px;
	color: #333333
}

.ph ul li a span {
	width: 80px;
	height: 35px;
	float: left;
	color: #A10000;
	font-weight: bold
}

.time {
	width: 196px;
	height: 578px;
	padding: 1px;
	margin-top: 15px;
	border: #DCDCDC solid 1px
}

.time h1 {
	width: 196px;
	height: 49px;
	background: #EFEFEF;
	font-size: 16px;
	text-align: center;
	line-height: 49px
}

.time p {
	width: 196px;
	height: 25px;
	text-align: right;
	line-height: 25px
}

.time a {
	font-size: 14px;
	color: #333333;
	margin-right: 10px
}

.time ul li {
	width: 178px;
	height: 100px;
	display: block;
	border-bottom: #C9C9C9 dashed 1px;
	margin: 0 auto
}

.time ul li:last-child {
	border: none
}

.time ul li a img {
	float: left;
	border: #E9E9E9 solid 1px;
	margin-top: 6px;
	margin-right: 12px
}

.time ul li a h1 {
	width: 80px;
	height: 35px;
	color: #000000;
	font-size: 12px;
	float: left;
	line-height: 15px;
	background: none;
	font-weight: normal;
	text-align: left
}

.time ul li a p {
	width: 80px;
	height: 35px;
	float: left;
	margin-top: 7px;
	color: #A10000;
	text-align: left;
	font-weight: bold
}

.adv {
	width: 200px;
	height: 220px;
	margin-top: 15px
}

.picList {
	width: 982px;
	float: left;
	margin-top: 10px;
	margin-left: 18px
}

.picList h1 {
	height: 17px;
	background: #FFF;
	width: 982px;
	padding-top: 8px;
	margin-bottom: 8px;
	font-size: 14px
}

.picList h1 a {
	color: #333333;
	font-size: 14px
}

.picList h1 a:hover {
	color: #999
}

.picNav {
	width: 980px;
	height: 29px;
	border: #CCCCCC solid 1px;
	border-top: #A10000 solid 2px;
	padding-top: 6px
}

.picNav span {
	font-size: 14px;
	float: left;
	margin-left: 14px
}

.picNav .navmin {
	float: left
}

.picNav .navmin li {
	width: 58px;
	height: 20px;
	background: url(../img/picNav01.png);
	border: #D7D7D7 solid 1px;
	float: left;
	border-left: none
}

.picNav .navmin li:first-child {
	border-left: #D7D7D7 solid 1px
}

.picNav .navmin li a {
	width: 58px;
	height: 20px;
	display: block;
	text-align: center;
	background: url(../img/picNav.png) no-repeat 43px center;
	line-height: 20px;
	color: #333333
}

.picNav .navmin .checked {
	background: url(../img/picNavchecked.png);
	border: #7B0C26 solid 1px;
	border-left: #7B0C26 solid 1px !important
}

.picNav .navmin .checked a {
	background: url(../img/picNavHover.png) no-repeat 43px center;
	color: #FFF
}

.picList .pic {
	display: block;
	margin-top: 22px
}

.picList .pic li {
	width: 224px;
	height: 349px;
	float: left;
	margin-right: 28px
}

.picList .pic .nomargin {
	margin-right: 0px
}

.picList .pic li a img {
	width: 222px;
	height: 222px;
	border: #DCDCDC solid 1px
}

.picList .pic li p {
	height: 45px;
	width: 168px;
	line-height: 15px;
	margin-top: 10px
}

.picList .pic li p a {
	color: #333333;
	font-size: 14px
}

.picList .pic li h3 {
	font-size: 12px;
	color: #999999;
}

.picList .pic li h3 span:first-child {
	font-size: 12px;
	color: #999999;
	text-decoration: line-through
}

.picList .pic li h3 span:last-child {
	font-size: 12px;
	color: #A10000;
	text-decoration: none;
	margin-left: 10px
}

.picList .pic li span a img {
	width: 22px;
	height: 22px;
	border: #BBBBBB solid 1px;
	margin-top: 7px;
	margin-right: 9px
}

.recommend {
	margin-top: 22px
}

.recommend h1 {
	color: #A10000;
	background: url(../img/recommend.png);
	height: 27px;
	width: 1198px;
	border: #D6D6D6 solid 1px;
	line-height: 27px;
	text-indent: 2em
}

.recommend .recommend1 {
	float: left;
	width: 198px;
	height: 357px;
	border: #D6D6D6 solid 1px;
	border-top: none
}

.recommend .recommend1 h3 {
	height: 60px;
	text-align: right;
	padding-right: 15px;
	line-height: 60px
}

.recommend .recommend1 h2 {
	height: 40px;
	text-align: left;
	padding-left: 15px;
	line-height: 40px
}

.recommend .recommend1 .recommend01 li {
	height: 85px;
	width: 198px;
	background:#FFFFFF
}
.recommend .recommend1 .recommend01 li a span{
	line-height: 30px;color:#333333;}
.recommend .recommend1 .recommend01 li a img{
	float: left;}
.recommend .recommend1 .recommend01 li a p{
	text-align: left;color: #FF0000;margin-left: 15px;
}	
.recommend .recommend2{
	float: left;width: 999px;height: 357px;border: #D6D6D6 solid 1px;border-left: none;border-top: none;
}
.recommend .recommend2 h1{
	text-align: left;background: none;border: none;color: #333333;width: 999px;
}
.recommend .recommend2 .v1{
	width: 20px;height: 98px;border: #DDDEE0 solid 1px;border-radius: 0px 10px 10px 0px;background: url(../img/bg/up.png) no-repeat 5px center;float: left;margin-top: 50px;border-left:none
}	
.recommend .recommend2 .v2{
	width: 20px;height: 98px;border: #DDDEE0 solid 1px;border-radius: 10px 0px 0px 10px;background: url(../img/bg/down.png) no-repeat 5px center;float: right;margin-top: 50px;border-right: none;
}
.recommend .recommend2 .recommend02{display: block;}
.recommend .recommend2 .recommend02 li{
	width:168px;height:255px; float:left;margin-top: 50px; text-align:center; margin-right: 20px;
}
.recommend .recommend2 .recommend02 li a{
	color: #333333;
}	
.recommend .recommend2 .recommend02 li a span{
	color:#7E7E7E;margin-right:15px;
}
.recommend .recommend2 .recommend02 li a em{
	color:#F00; font-style:normal
}	