.title{
	width: 800px;margin: 0 auto;margin-top: 18px;height: 26px;border-bottom: #7A7F89 solid 1px;
}
.Boxx{
	width: 800px;margin:0 auto;padding-top: 48px;padding-bottom: 20px;border-bottom: #999999 solid 1px;
}
.Boxx .login{
	width: 312px;height: 361px;border: #D1D1D1 solid 1px;background: #FAFAFA;float: left;	
}
.Boxx .login h1{
	border-bottom: #A10000 solid 1px;height: 26px;background: #FAFAFA;	
}
.Boxx .login h1 span{
	width: 154px;height: 25px;border: #6C0007 solid 1px;border-bottom: none;float: left;background: url(../img/bg/login2.png);border-radius: 3px 3px 0 0;color: #FFFFFF;line-height: 25px;text-align: center;	
}
.Boxx .login ul li{
	margin-top: 20px;text-align:right;	
}
.Boxx .login ul{
	padding-top: 8px;	
}
.Boxx .login ul li input{
	width: 210px;height: 28px;background: #FAFFBD;border: #A5AFC3 solid 1px;margin-right: 26px;	
}
.Boxx .login ul li span{
	color: #656565;float: left;margin-left: 20px;height: 28px;line-height: 28px;	
}
.Boxx .login ul .yzm input{
	width: 65px;height: 20px;background: #FFFFFF;margin-right: 6px;
}
.Boxx .login ul .yzm img{
	margin-right: 65px;margin-top: ;	
}
.Boxx .login ul .login_in a:first-child{
	width: 95px;height: 25px;float: left;background: url(../img/bg/login4.png);border: #6C0007 solid 1px;border-radius: 5px;margin-left: 74px;color: #FFFFFF;text-align: center;font-size: 12px;line-height: 25px;
}
.Boxx .login ul .login_in a:last-child{
	color: #333333;margin-left: 17px;float: left;height: 25px;line-height: 25px;	
}
.Boxx .login ul li:last-child{
	text-align: left;	display: block;height: 25px;line-height: 25px;border-bottom: #ACACAC dashed 1px;width: 280px;margin: 0 auto;height: 26px;padding-top: 20px;
}
.Boxx .login ul li:last-child span{
	margin: 0;padding: 0;	
}
.Boxx .login ul li:last-child span:first-child{
	color: #A10000;	margin-left: 10px;float: left;
}
.Boxx .login ul li:last-child span:last-child{
	margin-left: 0px;float: left;	
}
.Boxx .login ul li:last-child a{
	color: #FFFFFF;background: #A10000;width: 61px;height: 19px;border-radius: 3px;	float: left;line-height: 19px;text-align: center;margin-top: 5px;margin-left: 5px;
}
.Boxx .login .friend{
	text-align: left;margin-top: 10px;padding-left: 25px;color: #333333;	
}
.Boxx .login .inp{
	display: block;background: none;height: auto;	margin: 0 auto;line-height: 10px;margin-left: 8px;margin-top: 10px;
}
.Boxx .login .inp a{
	background: #FAFAFA!important;height: 20;color: #666666!important;width: auto;margin-left: 18px;line-height: 20px;
}
.Boxx .login .inp a img{
	margin-right: 3px;margin-top: 2px;	
}
.img{
	float: left;width: 413px;margin-left: 26px;
}
