.member .miniBox{
	float: left;width: 179px;margin-left: 5px;margin-top: 5px;
}
.member .miniBox2{
	float: left;width: 987px;margin-left: 20px;	border: #F1FAFF solid 4px;margin-top: 5px;
}
.member .miniBox h1{
	margin-bottom: 10px;	
}
.member .miniBox h1 a{
	width: 133px;height: 28px;border: #C8C8C8 solid 1px;background: #FFFFFF url(../img/bg/member.png) 27px 6px no-repeat;display: block;line-height: 28px;color: #1D1D1D;padding-left: 45px;	
}
.member .miniBox .item li{
	width: 137px;height: 23px;border-bottom: #D4D4D4 dashed 1px;margin: 0 auto;display: block;padding-left: 25px;line-height: 23px;
}
.member .miniBox .item{
	width: 177px;border: #CACACA solid 1px;	padding-bottom: 4px;
}
.member .miniBox .item li a{
	color: #252525;
}
.member .miniBox .item li:first-child{
	height: 29px;background: url(../img/bg/member1.png);color: #FFFFFF;width: 177px;border-bottom: #9F9F9F solid 1px;text-align: center;line-height: 29px;padding: 0;	
}
.member .miniBox2 h1{
	color: #353535;font-size: 15px;	padding-left: 10px;margin-top: 10px;
}
.member .miniBox2 .p1{
	line-height: 20px;font-size: 12px;padding-left: 10px;	
}
.member .miniBox2 .p1 a{
	color: #B70207;	font-size: 12px;
}
.member .miniBox2 .p2{
	width: 931px;margin: 0 auto;height: 37px;border: #FFEEC5 solid 1px;background: #FEFEF1 url(../img/bg/member3.png) no-repeat 20px 10px;line-height: 37px;padding-left: 38px;
}
.member .miniBox2 .p2 a{
	color: #0D0D10;	
}
.member .miniBox2 ul li:first-child{
	float: left;margin-left: 10px;margin-top: 45px;	
}
.member .miniBox2 ul li:last-child{
	float: right;margin-top: 45px;margin-right: 10px;	
}
.member .miniBox2 ul li h2{
	width: 348px;border-bottom: #E5E5E5 solid 2px;height: 20px;	margin-bottom: 20px;
}
.member .miniBox2 ul li h2 span{
	width: 60px;height: 20px;border-bottom: #960934 solid 2px;	display: block;font-size: 14px;
}
.member .miniBox2 ul li{
	margin-bottom: 15px;	
}
.member .miniBox2 ul li p a{
	color: #B8080C;	
}